.root {
  background: radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );
  margin-top: 20px;
  padding-top: 30px;
}

.input {
  height: 200px;
}

.title {
  margin-top: 30px;
}
